@import url("/Login/index.css");
body{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.reset-password{
    display: flex;
    justify-content: center;
    text-align: center;
}
.reset-password .padding h1{
    font-weight: 700;
    font-size: 25px;
    color: var(--blue);
    letter-spacing: 0.07em;
    padding-bottom: 10px;
}
.reset-password .padding h4{
    font-weight: 500;
    font-size: 13px;
    color: var(--grey);
}
.reset-password .padding form{
    padding-top: 35px;
}
.reset-password .padding form .input{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.reset-password .padding form .input label{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    padding-bottom: 10px;
    text-align: start;
}
.reset-password .padding form .input input{
    width: 350px;
}
.reset-password .padding form .input input[type="email"],
.reset-password .padding form .input input[type="password"]
{
    padding: 13px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    font-size: 15px;
    color: var(--blue);
}
.reset-password .padding form .input  input::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--grey);
}