@import url("/Login/index.css");
body{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.reset-password{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}
.card{
    box-shadow: 0 0.2rem 1rem var(--grey);
    padding: 35px 50px;
    border-radius: 20px;
}
h1{
    font-weight: 700;
    font-size: 28px;
    color: var(--blue);
    letter-spacing: 0.07em;
    padding-bottom: 10px;
}
h4{
    font-weight: 500;
    font-size: 13px;
    color: var(--grey);
}
.reset-password form{
    padding-top: 25px;
}
.reset-password form .input{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.reset-password form .input label{
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    padding-bottom: 10px;
    text-align: start;
}
.reset-password form .input input{
    width: 350px;
}
.reset-password form .input input[type="email"],
.reset-password form .input input[type="password"]
{
    padding: 13px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    font-size: 15px;
    color: var(--blue);
}
.reset-password form .input  input::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--grey);
}
form button {
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    background: var(--yellow);
    border: 1px solid var(--yellow);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    margin-top: 20px;
  }