@import "/Login/index.css";
@import "/password/password.css";
body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
.forgot-password .card {
  box-shadow: 0 0.2rem 1rem var(--grey);
  padding: 35px 50px;
  border-radius: 20px;
}
.forgot-password .container-box {
  padding-top: 25px;
}
.forgot-password .container-box .reset-email-sms {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  text-align: start;
  box-shadow: 0 0.2rem 1rem var(--grey);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 2px solid var(--blue);
}
.forgot-password .container-box .reset-email-sms:last-child {
  margin-right: 28px;
  box-shadow: none;
  border: none;
}
.forgot-password .container-box .reset-email-sms img {
  width: 40px;
  height: 40px;
  border: none;
  background: #e6e6e6;
  border-radius: 30px;
  padding: 10px;
}
.forgot-password .container-box .reset-email-sms .box {
  margin-left: 20px;
}
.forgot-password .container-box .reset-email-sms .box h2 {
  font-weight: 600;
  font-size: 16px;
  color: var(--blue);
}
.forgot-password .container-box .reset-email-sms .box p {
  font-weight: 500;
  font-size: 14px;
  color: var(--grey);
}
.forgot-password .container-box form {
  margin-top: 15px;
}
.forgot-password .container-box input,
.forgot-password .container-box input[type="email"] {
  padding: 13px;
  width: 88%;
  border-radius: 10px;
  border: 1px solid var(--blue);
  font-weight: 500;
  font-size: 15px;
  color: var(--blue);
}
.forgot-password .container-box input::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: var(--grey);
}
.forgot-password button {
  padding: 14px;
  border-radius: 10px;
  background: var(--yellow);
  border: 1px solid var(--yellow);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  width: 350px;
}
.forgot-password .turn-down {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}
.forgot-password .turn-down p,
.forgot-password .turn-down p a {
  font-weight: 500;
  font-size: 13px;
  color: var(--blue);
  text-decoration: none;
  margin-left: 3px;
  color: var(--yellow);
}
