@import "/Admin-Manage/admin-manage.css";
body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: baseline;
}
.url-https .container-box {
  padding-bottom: 3px;
}
.url-https .parent-transfer {
  padding-left:20px;
  display: flex;  
  column-gap:35px;
}
.url-https .parent-transfer h2{
   font-weight: 600;
    font-size: 20px;
    color:#298097 ;
    padding-bottom: 10px;
}
.url-https .parent-transfer .groups {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.url-https .content {
  padding: 35px 15px 24px 15px;
}
.url-https .parent-transfer .groups h3{
  font-weight: 400;
    font-size: 13px;
    color: #919499;
}
.url-https form {
  padding: 0px 10px;
}
.url-https .content .list-information {
  row-gap: 23px;
}
.url-https .second-card{
  margin-top: 2rem;
  max-width: 320px;
}
.url-https .second-card h3{
  font-weight: 400;
  font-size: 13px;
  color: #919499;
}
.url-https .second-card .group {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-top: 30px;
  border: 2px solid #C4C4C480;
  border-radius: 20px;
  padding: 25px 10px;
}
.url-https .second-card .group p{
  font-size: 14px;
  color: var(--black);
  font-weight: 500;
  border-radius: 15px;
  padding:10px;
  background: #EFF2F266;
}
.url-https .second-card .group p:nth-child(3){
  background: var(--yellow);
  color: var(--white);
}
.url-https .second-card .group p:hover{
  cursor: pointer;
  background: var(--yellow);
  color: var(--white);
}
.url-https .second-card .form{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.url-https .second-card .form .input{
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 10px;
}
.url-https .second-card .form .input:nth-child(1){
  flex-direction: column;
  align-items: initial;
}
.url-https .second-card .form .input label{
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}
.url-https .second-card .form .input input{
  padding: 10px 15px;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 15px;
}
.url-https .second-card .form .input input::placeholder,
.url-https .second-card .form .input input[type="text"] {
  color: var(--black);
  font-size: 12px ;
  font-weight: 500;
}
.url-https .second-card button{
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 15px;
  background: var(--yellow);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}
