@import "/Login/index.css";
@import "/password/password.css";
body{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;

}
.forgot-password{
    text-align: center;
    margin: 50px 0;

}
.forgot-password .container-box{
    padding-top: 25px;
}
.forgot-password .container-box .reset-email-sms{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    text-align: start;
}
.forgot-password .container-box .reset-email-sms img{
    width: 40px;
    height: 40px;
    border: none;
    background: #E6E6E6;
    border-radius: 30px;
    padding: 10px;
}
.forgot-password .container-box .reset-email-sms .box{
    margin-left: 20px;
}
.forgot-password .container-box .reset-email-sms .box h2{
    font-weight: 600;
    font-size: 14px;
    color: var(--blue);
}
.forgot-password .container-box .reset-email-sms .box p{
    font-weight: 500;
    font-size: 12px;
    color: var(--grey);
}
